body {
  background: linear-gradient(135deg, #b88cff, #fefbff);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

h1, h2 {
  color: #fff;
}

form {
  background: linear-gradient(135deg, #c97ff1, #6e4ec7);
  padding: 20px;
  border-radius: 8px;
}

.form-label {
  color: #000000;
}

.btn-primary {
  background-color: #7c4dff;
  border: none;
}

.btn-primary:hover {
  background-color: #5e35b1;
}

.btn-secondary {
  background-color: #4a0072;
  border: none;
}

.btn-secondary:hover {
  background-color: #3d0d5a;
}

.btn-danger {
  background-color: #d32f2f;
  border: none;
}

.btn-danger:hover {
  background-color: #c62828;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.349);
  border: none;
  margin-bottom: 10px;
}

.list-group-item img {
  border-radius: 4px;
}

/* Estilos para el modal */
.modal-content {
  background: linear-gradient(135deg, #c97ff1, #6e4ec7);
  color: #fff;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-title {
  color: #000000;
}

.modal-body {
  color: #d58cff;
}

.modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-footer .btn-primary {
  background-color: #b79dfd;
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: #5e35b1;
}

.modal-footer .btn-secondary {
  background-color: #4a0072;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #3d0d5a;
}
